.add-card__title {
  background-color: #fff;
  color: #000;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0;
}
@media screen and (max-width: 520px) {
  .add-card__title {
    font-size: 0.9rem;
    line-height: 1rem;
    align-self: center;
  }
}
