.edit-profile__button-submit {
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.375rem;
  border: 0;
  width: 358px;
  height: 50px;
  align-self: center;
  cursor: pointer;
}
.edit-profile__button-submit:hover {
  opacity: .6;
  transition: .6s;
}
@media screen and (max-width: 520px) {
  .edit-profile__button-submit {
    width: 200px;
    height: 30px;
    font-size: 0.9rem;
    line-height: 1rem;
  }
}
