.profile__occupation {
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .profile__occupation {
    text-align: center;
  }
}
@media screen and (max-width: 468px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
  }
